<div class="container document">
    <h1 class="title">Bulletin </h1>
    <hr>
    <div class="mx-auto"><img class="img-fluid"   src="/doc/classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour vous rendre à Bulletin, développer la barre de navigation puis cliqué sur le menu Bulletin.    
    </div>
    
    <h3 class="subtitle">Générer un Bulletin</h3>
    <div class="mx-auto"><img class="img-fluid"  src="/doc/add_classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour générer un bulletin, cliqué sur le nom de l’élève puis sur le bouton Générer un Bulletin patientez jusqu’à l’apparition du bulletin.
        Cliquer sur l’icône imprimante (ou CTRL+P) puis choisissez votre imprimante pour lancer l’impression.           
        <div class="pwarning" >
            Attention : Durant la génération du bulletin ne changez pas de menu et ne fermer pas l’application        </div>
        </div>
    </div>
    
    
    <h3 class="subtitle">Générer les bulletins de toute une classe</h3>
    <div class="mx-auto"><img class="img-fluid"  src="/doc/mdf-classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour générer, les bulletins de toutes une classe choisissez la classe puis appuyer le bouton Générer tous les bulletins, patientez la génération de tous les bulletins.
        Puis cliquer sur l’icône imprimante (ou CTRL+P) puis choisissez votre imprimante pour lancer l’impression.
        <div class="pwarning" >
            Attention : Durant la génération du bulletin ne changez pas de menu et ne fermer pas l’application        </div>
        </div>    
    </div>            
</div>
    
    <h3 class="subtitle">Choix du trimestre</h3>
    <div class="mx-auto"><img class="img-fluid"  src="/doc/del-classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Vous avez la possibilité d’indiquer le trimestre de l’année en cours pour cela vous devez cliquer sur choix du trimestre cocher le trimestre en cours et vous pouvez effectuer vos générations de bulletins.
    </div>
        
</div>
