<div class="container document">
    <h1 class="title">Classe </h1>
    <hr>
    <div class="mx-auto"><img class="img-fluid"   src="/doc/classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour vous rendre à la gestion des classes, il suffit de cliquer sur le premier onglet proposé sur la barre de navigation dans l’application. Un badge est collé au texte accompagnant l’icone pour vous indiquer le nombre de classe déjà enregistrer.
    </div>
    
    <h3 class="subtitle">Ajouter une classe</h3>
    <div class="mx-auto"><img class="img-fluid"  src="/doc/add_classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        L'ajout des classes n’aurai pu être plus simple, pour cela il suffit de rentrer le nom de la classe et de cliquer sur le bouton ajouter.
    </div>
    
    
    <h3 class="subtitle">Modifier le nom d'une classe</h3>
    <div class="mx-auto"><img class="img-fluid"  src="/doc/mdf-classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        La modification d’une classe se fait en 3 étapes sélectionnez d’abord le nom de la classe que vous souhaitez changer dans la liste des classes situé à gauche de votre écran, ensuite sur cliqué sur la zone d’édition et changer le nom de la classe et enfin cliquez sur le bouton modifier.
    </div>
    
    <h3 class="subtitle">Supprimer une classe</h3>
    <div class="mx-auto"><img class="img-fluid"  src="/doc/del-classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour supprimer une classe, il faut d’abord choisir la classe a supprimé dans la liste des classes situé à gauche de votre écran, ensuite cliqué sur le bouton supprimer. Une boite de dialogue s’ouvrira et vous demandera la confirmation de votre choix de suppression cliquer sur oui.
        <div class="pwarning" >
            Attention : La suppression d’une classe entraine de facto la suppression de tous les élèves appartenant à cette classe. Cette action est irréversible. Veuillez avoir effectuer une sauvegarde juste avant.
        </div>
    </div>
        
</div>
