<div class="container document">
    <h1 class="title">Elèves </h1>
    <hr>
    <div class="mx-auto"><img class="img-fluid"   src="/doc/classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour vous rendre à la gestion des élèves, il suffit de cliquer sur le troisième menu proposé sur la barre de navigation dans l’application. Un badge est collé au texte accompagnant l’icône pour vous indiquer le nombre d’élève déjà enregistrer.    
    </div>
    
    <h3 class="subtitle">Ajouter une élève</h3>
    <div class="mx-auto"><img class="img-fluid"  src="/doc/add_classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour ajouter un élève, il faut remplir les informations demandées dans la partie droite de l’écran. Après avoir rempli toutes les informations, cliqué sur le bouton ajouter.    
        <div class="pAstuces">
            Astuces : pour le remplissage des dates le format accepté est date/mois/année ex : 16/07/2000. Le matricule n’est pas obligatoire ne pas remplir s’il n’en existe pas.
        </div>
    </div>
    
    
    <h3 class="subtitle">Modifier les informations d'un élèves</h3>
    <div class="mx-auto"><img class="img-fluid"  src="/doc/mdf-classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour modifier les informations d’un élève.<br>
        Il faut se rendre d’abord se rendre dans la classe de l’élève en sélectionnant la classe dans partie gauche de votre écran puis dans la liste des élèves sélectionnez l’élève dont les informations doivent être modifier.<br>
        Ses informations apparaîtront à droite de votre écran, modifiez-les ensuite appuyer le bouton modifier
    </div>
    
    <h3 class="subtitle">Supprimer un élève</h3>
    <div class="mx-auto"><img class="img-fluid"  src="/doc/del-classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour supprimer un élève, sélectionnez l’élève dans la liste des élèves puis cliqué sur le bouton supprimer.        
        <div class="pwarning" >
            Attention : Cette action est irréversible et entrainera la suppression de toute information relative à l’élève (identité et moyenne).        
        </div>
    </div>

    <h3 class="subtitle">Impotation des élèves</h3>
    <div class="mx-auto"><img class="img-fluid"  src="/doc/add_classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour importer des élèves il faut au préalable exporter la liste des élèves dans la classe (même si elle est vide).<br>
        L’exportation généra un fichier Excel qu’il faudra alors utiliser pour modifier les informations des élèves existant (s’il en existe) ou pour pouvoir ajouter des élèves.<br>
        Ensuite il faudra indiquer ou le fichier se trouve pour effectuer l’importation.         
        <div class="pAstuces">
            Astuces : Pour ajouter un nouvel élève il suffira de mettre au niveau de la colonne numéro la lettre N (n en majuscule) puis remplir le reste des colonnes. La date de naissance est au format jours/mois/année (16/03/2005 par exemple).        
        </div>
        <div class="pwarning" >
            Attention : Il est important de ne pas modifier les noms des colonnes et l’entête classe.<br>
            Seul les informations inscrit en dessous de chaque colonne sera pris en compte.<br>
            Il est également rappelé que les numéros associés à des élèves ne doivent en aucun cas être modifier seuls les champs comportant l’identité de l’élèves peuvent faire objet de modification.                    
        </div>
    </div>

    <h3 class="subtitle">Exportation de la liste des élèves</h3>
    <div class="mx-auto"><img class="img-fluid"  src="/doc/mdf-classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour exporter la liste des élèves d’une classe, il faudra appuyer sur le bouton exporter et indique le dossier ou sera exporter la liste.<br>
        L’exportation génère un fichier au format Excel modifiable à souhait.         
    </div>
        
</div>
