<div class="container document">
    <h1 class="title">Importation/Exportation </h1>
    <hr>
    <div class="row mx-auto"><img  src="/doc/classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour vous rendre à la gestion des classes, il suffit de cliquer sur le premier onglet proposé sur la barre de navigation dans l’application. Un badge est collé au texte accompagnant l’icone pour vous indiquer le nombre de classe déjà enregistrer.
    </div>

    <h3 class="subtitle">sauvegarde</h3>
    <div class="row mx-auto"><img src="/doc/mdf-classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour sauvegarder votre travail, il vous suffira de cliquer sur le bouton sauvegarde et d’indiquer le dossier ou sera sauvegarde votre travail. Un fichier Excel sera alors généré et se fiche pourra être utiliser comme point de restauration de votre travail  
        <div class="pAstuces" >
            Astuces : Pensez à effectuer très régulièrement des sauvegardes. Les fichiers générés peuvent être utilise dans n’importe quel ordinateur ayant le logiciel BullApp.        
        </div>
    </div>

    <h3 class="subtitle">Restauration</h3>
    <div class="row mx-auto"><img src="/doc/add_classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour restaurer votre travail, il suffit d’appuyer sur le bouton de restauration et d’indiquer le fichier de restauration.   
        <div class="pwarning" >
            Attention : seuls les fichiers issus de l’action de sauvegarde peuvent être utilisé dans la restauration        
        </div>
    </div>
    
    <h3 class="subtitle">Supprimer une classe</h3>
    <div class="row mx-auto"><img src="/doc/del-classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour supprimer une classe, il faut d’abord choisir la classe a supprimé dans la liste des classes situé à gauche de votre écran, ensuite cliqué sur le bouton supprimer. Une boite de dialogue s’ouvrira et vous demandera la confirmation de votre choix de suppression cliquer sur oui.
        <div class="pwarning" >
            Attention : La suppression d’une classe entraine de facto la suppression de tous les élèves appartenant à cette classe. Cette action est irréversible. Veuillez avoir effectuer une sauvegarde juste avant.
        </div>
    </div>
        
</div>
