<div class="container document">
    <h1 class="title">Matières </h1>
    <hr>
    <div class="row mx-auto"><img  src="/doc/classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour vous rendre à la gestion des matières, il suffit de cliquer sur le deuxième onglet proposé sur la barre de navigation dans l’application    
    </div>
    
    <h3 class="subtitle">Ajouter une matière</h3>
    <div class="row mx-auto"><img src="/doc/add_classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour ajouter une matière, Sélectionnez la/les classes à droite de votre écran ou seront ajouté la matière puis cliqué dans la première zone d’édition juste en bas et entrez le nom de la matière ensuite le coefficient enfin appuyer le bouton ajouter.    
    </div>
    
    
    <h3 class="subtitle">Modifier une matière</h3>
    <div class="row mx-auto"><img src="/doc/mdf-classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour modifier une matière, A gauche de votre écran sélectionner la classe ou la matière se trouve. Puis cliqué sur la matière à modifier, changé les informations voulues puis cliqué sur le bouton modifier. Cette action ne modifiera que la matière dans la classe voulue.
    </div>
    
    <h3 class="subtitle">Supprimer une matière</h3>
    <div class="row mx-auto"><img src="/doc/del-classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour supprimer une matière, A gauche de votre écran sélectionner la classe ou la matière se trouve. Puis cliqué sur la matière à supprimer, ensuite appuyer le bouton supprimer.        
        <div class="pwarning" >
            Attention : Cette action supprimera toutes les moyennes des élèves dans la matière de la classe associée et n’affectera que ces derniers. Cette action est irréversible.        
        </div>
    </div>
        
</div>
