<div class="container document">
    <h1 class="title">Moyennes </h1>
    <hr>
    <div class="row mx-auto"><img  src="/doc/classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour vous rendre en l’onglet moyenne développer la bar de navigation et cliqué sur le menu moyenne.    
    </div>
    
    <h3 class="subtitle">Ajouter / modifier les moyennes</h3>
    <div class="row mx-auto"><img src="/doc/add_classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour ajouter ou modifier les moyennes des élèves. Il faudra choisir la classe et la matière dans laquelle vous souhaitez insérer des moyennes.
        <br>Sur la liste des élèves de la classe inséré chaque note d’élève puis appuyer sur le bouton sauvegarder.
        <div class="pAstuces">
            Astuces : Pour aller plus vite il suffira de tapez sur Entrée (sur votre clavier) pour vous rendre sur la moyenne de l’élève suivant. Le format des notes est anglais pour entrer une note décimale utilisé le point (.) à la place de la virgule (,).        
        </div>   
    </div>
    
    
    <h3 class="subtitle">Importation des moyennes</h3>
    <div class="row mx-auto"><img src="/doc/mdf-classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour importer des moyennes, il faudra au préalable avoir eu à exporter la liste des moyennes dans la classe et remplir la colonne notes dans le fichier Excel et ensuite cliqué sur importation puis indiqué le fichier à importer.    
        <div class="pwarning" >
            Attention : Seule la colonne note doit être modifier tout changement de format du fichier entrainera des erreurs d’importation        
        </div>
    </div>
    
    <h3 class="subtitle">Exportation des moyennes</h3>
    <div class="row mx-auto"><img src="/doc/del-classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour exporter des moyennes il suffit de cliquer sur le bouton Exportation et ensuite indique le dossier ou sera sauvegarder le fichier Excel généré par l’exportation.
        <br>C’est ce fichier qui pourra être modifier pour faire une importation des moyennes dans une matière
    </div>
        
</div>
