<div class="container document">
    <h1 class="title">Statistiques </h1>
    <hr>
    <div class="row mx-auto"><img  src="/doc/classe-resize.gif" title="classe"></div>
    <div class="paragraph">
        Pour vous rendre à Statistiques, développer la barre de navigation puis cliqué sur le menu Statistiques puis choisissez la classe. Une fois les statistiques générés cliqué sur l’icône imprimante pour lancer l’impression de la planche de statistique. Choisissez votre imprimante et L’impression débutera.    </div>
        <div class="pAstuces">
            Astuces : vous pouvez grâce à l’assistance d’impression Windows exporter la feuille de statistique au format PDF en vue d’une impression futur. Pour cela il suffira de choisir Microsoft print to PDF au moment de faire le choix de l’imprimante. Le raccourci (CTRL+P) permet également de lancer l’impression.         
        </div>
        <div class="pwarning" >
            Attention : Durant la génération des statistiques ne changez pas de menu et ne fermer pas l’application        
        </div>
    </div>
        
</div>
