<div id="update">
    <div v-if="success" class="alert alert-success" role="alert">
        <i class="zmdi zmdi-check-circle"></i>
        <span class="content">Vos informations ont été modifier avec succès :)</span>
    </div>
    <div v-if="error" class="alert alert-danger" role="alert">
        <i class="zmdi zmdi-close-circle"></i>
        <span class="content">{{error}}</span>
    </div>
    <div class="card">
        <div class="card-header">Changer de mot de passe</div>
        <div class="card-body ">
            <form>
                <div class="form-inline m-3">
                    <div class="input-group col-12 ">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <input type="email" id="email" v-model="email"  name="email"  class="form-control"  disabled>
                    </div>
                </div>
                <div class="form-inline m-3 ">
                    <div class="input-group col-12 ">
                        <div class="input-group-addon">
                            <i class="fa fa-asterisk"></i>
                        </div>
                        <input type="password" id="password" v-model="password" name="password" placeholder="Mot de passe" class="form-control" required>
                    </div>
                </div>
                <div class="form-inline m-3 ">
                    <div class="input-group  col-12 ">
                        <input type="password" id="confirm" v-model="confirm" name="confirm" placeholder="Confirmez votre mot de passe" class="form-control" :class="cls()" required>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-outline-warning btn-lg" @click.prevent="updated" value="<%= locals.admin.email %>" type="submit">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
 let up = new Vue({
        el: '#update',
        data: {
            success: false ,
            error:"",
            email: "<%= locals.admin.email %>" ,
            password: '',
            confirm:''
        },
      
        methods : {
           
            cls : function(){
                console.log('cls')
                return this.confirm === this.password ? "" : "is-invalid"
            },
            updated: function(e){
                let vm = this
                vm.success=false
                vm.error=false
                if(!this.cls() && vm.confirm && vm.password && vm.password.length>=6){
                    axios.put('/api/admin',{
                    email : this.email,
                    password : this.password
                    })
                    .then(function (response) {
                        vm.success = true;
                        vm.error= "";
                    })
                    .catch((response)=>{
                        vm.error = "Informations incorrectes"
                        vm.success = false
                        console.log(response)
                    })
                }else{
                    if(vm.password && vm.confirm){
                        if(vm.password.length<6){
                            vm.error="Le mot de passe doit contenir au moins 6 caractères"
                        }else{
                            vm.error = "Les mots de passe ne sont pas identique"
                        }
                        
                    }else{
                        vm.error= "Veuillez remplir tout les champs"
                    }
                   
                }
              
            }
        }
    });
</script>