<section id="showcase" name="showcase">
    <div id="showcase">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <h1 class="centered m-5">Quelques captures d'écran</h1>
          <br>
          <br>
          <br>
          <div class="col-lg-8 col-lg-offset-2">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/home-item.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/bull-item.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/insert-item.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="img/mat-item.png" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
       
      </div>
      <!-- /container -->
    </div>
  </section>