<section id="desc" name="desc">
    <div id="features">

        <div class="container">
  
          <div class="section-title text-center p-4" data-aos="fade-up">
            <h1 class=" text-bold p-1"><strong>Nouveautés</strong></h1>
            <h4 class="text-dark">Découvrez un outil merveilleux et simple pour la génération de vos bulletins scolaires</h3>
          </div>
  
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
                        <i class="zmdi zmdi-file-text zmdi-hc-3x"></i>
                        <div class="accordion-heading">
                            <h4>Génération rapide de statistiques et bulletins scolaires</h4>
                        </div>                
                        <p>Obtenez en une dizaine de minutes l’ensemble des bulletins de tous les élèves d’une classe. Facilitez vos conseils d’établissement avec la fiche statistique de chaque classe, générée automatiquement par Bullapp.</p>
                    </div>
                    <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
                        <i class="zmdi zmdi-cloud-upload zmdi-hc-3x"></i>
                        <div class="accordion-heading">
                            <h4>Sauvegarde des données dans l’ordinateur et en ligne</h4>
                        </div>                
                        <p>Sauvegardez votre travail en local, en ligne et partagez-le en quelques clics. Doté d’un système de sauvegarde, avec BullApp vous ne perdrez aucune donnée de votre travail.</p>
                    </div>
                    <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
                        <i class="zmdi zmdi-wifi-off zmdi-hc-3x"></i>
                        <div class="accordion-heading">
                            <h4>Une application pour ordinateur qui fonctionne à 99% sans internet</h4>
                        </div>                
                        <p>Eh oui ! 99%.<br>
                            Conscient de la difficulté d’accès à internet dans certaines régions, BullApp se démarque par son détachement d’internet. Ainsi, seuls votre connexion à l’application et le stockage dans le cloud en ligne nécessiteront l’usage d’internet.
                        </p>
                    </div>
                
                </div>
                <div class="image  col-lg-6 order-1 order-lg-2 my-auto"  data-aos="fade-left" data-aos-delay="100">
                    <img class="img-fluid" src="img/bull-open.png"/>
                </div>
          </div>
  
        </div>
   
    </div>
  <!--/ #features -->
</section>
