<section id="desc" name="desc">
    <!-- INTRO WRAP -->
    <!-- FEATURES WRAP -->
    <div id="features">
        <div class="container">
            <div class="row m-2" >
                <h1 class="text-uppercase">Prérequis</h1>
            </div>
            <div class="row m-3">
                <div class="col-lg-1 col-sm-12 text-center"><img class="img-responsive" src="/img/windows.png" height="40" width="40"/></div>
                <div class="col-lg-11 col-sm-12 text-justify my-auto">L'application Bullapp a été conçue pour les ordinateurs fonctionnant sur le système d'exploitation windows. Les versions suivantes peuvent être utilisé: Windows 7, 8 et 10. <a href="https://www.microsoft.com/fr-fr/software-download" target="_blank">Cliquez ici pour télécharger windows</a></div>
            </div>
            <div class="row m-3">
                <div class="col-lg-1 col-sm-12 text-center"><img class="img-responsive" src="/img/office.png" height="35" width="35"/></div>
                <div class="col-lg-11 col-sm-12 text-justify my-auto">L'installation de l'application BullApp requiert la présence des logiciels, Microsoft Word et Microsoft Excel dans votre ordinateur</div>
            </div>
            <div class="row m-3">
                <div class="col-lg-1 col-sm-12 text-center"><img class="img-responsive" src="/img/config.png" height="40" width="40"/></div>
                <div class="col-lg-11 col-sm-12 text-justify my-auto">2Go Ram, espace du disque dur 500Mo.</div>
            </div>
            <br>
        </div>
        <!--/ .container -->
    </div>
  <!--/ #features -->
</section>

