<div class="row m-t-25 ">
    <div class="col-md-6 col-lg-3">
        <div class="statistic__item statistic__item--green ">
            <h2 class="number text-white ">10,368</h2>
            <span class="desc text-white ">Utilisateurs</span>
            <div class="icon ">
                <i class="zmdi zmdi-account-o text-white"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="statistic__item statistic__item--blue">
            <h2 class="number text-white">1,086</h2>
            <span class="desc text-white">Cette semaine</span>
            <div class="icon">
                <i class="zmdi zmdi-calendar-note text-white"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="statistic__item statistic__item--orange">
            <h2 class="number text-white">388 GB</h2>
            <span class="desc text-white">Stockage</span>
            <div class="icon">
                <i class="zmdi zmdi-storage text-white"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="statistic__item statistic__item--red">
            <h2 class="number text-white">1,060,386</h2>
            <span class="desc text-white">Fichiers</span>
            <div class="icon">
                <i class="zmdi zmdi-account text-white"></i>
            </div>
        </div>
    </div>
</div>