<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Bull-app</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/logo.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min2.css" rel="stylesheet">
  <link href="/css/vuejs-dialog.min.css" rel="stylesheet" media="all">

  <!-- Javascript-->
  <script src="/js/vue.js"></script>
  <script src="/js/numeral.min.js"></script>
  <script src="/js/axios.js"></script>
  <script src="/js/vuejs-dialog.min.js"></script>
  <script src="/js/vuejs-dialog-mixin.min.js"></script>
  <script>
      window.Vue.use(VuejsDialog.main.default);
  </script>


  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">


</head>

<body style=" padding-top: 50px">

  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top">
    <div class="nav-brand">
      <a  class="text-success m-2" href="/">
        <img class="navbar-brand " src="img/logo_nom.png"  width="115"/>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/documentation">Documentation</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link smothscroll" href="#home">Téléchargement</a>
        </li>
      </ul>
    </div>
  </nav>
  <section id="home" name="home">
    <div id="download">
      <div class="container" >
        <div class="row centered ">
          <div class="col-lg-12 ">
            <div id="titre">Télécharger Gratuitement l'application<img src="img/logo_nom.png" height="100"/> </div>
            <h4>Inscrivez-vous et profitez de l'application de génération de bulletins</h4>
            <br>
          </div>
        
          
          <div class="col-lg-8">
            <div class="row" id="register">
                
              <div class="card col-12">
                
                <div class="card-header">Enregistrement Utilisateur</div>
                
                    <form v-on:submit.prevent="onSubmit">
                        <div class="form-inline m-3">
                            <div class="input-group col-md-6 col-12 mt-2">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" id="nom" v-model="nom" name="nom" placeholder="Nom"  class="form-control" required>
                            </div>
                            <div class="input-group col-md-6 col-12 mt-2">
                                <input type="text" id="prenom" v-model="prenom" name="prenom" placeholder="Prénom" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-inline m-3">
                            <div class="input-group col-md-6 col-12 mt-2">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <input type="email" id="email" v-model="email" name="email" placeholder="Email" class="form-control" required>
                            </div>
                            <div class="input-group col-md-6 col-12 mt-2">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" id="contact" v-model="contact" name="contact" placeholder="Téléphone" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-inline m-3 ">
                            <div class="input-group col-12">
                                <div class="input-group-addon">
                                    <i class="fa fa-book"></i>
                                </div>
                                <input type="text" id="school" v-model="school" name="school" placeholder="Etablissement" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-inline m-3 ">
                            <div class="input-group col-md-6 col-12 mt-2">
                                <div class="input-group-addon">
                                    <i class="fa fa-asterisk"></i>
                                </div>
                                <input type="password" id="password" v-model="password" name="password" placeholder="Mot de passe" class="form-control" required>
                            </div>
                            <div class="input-group col-md-6 col-12 mt-2">
                                <input type="password" id="confirm" v-model="confirm" name="password" placeholder="Confirmez votre mot de passe" class="form-control" :class="cls()" required>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-outline-success btn-lg" v-on:click.prevent="add" >Enregistrer</button>
                        </div>
                    </form>
                    <div class="card-body card-block">
                  <div v-if="error" class="alert alert-danger col-12" role="alert">
                    <i class="zmdi zmdi-close-circle"></i>
                    <span class="content">{{error}}</span>
                  </div>
                  <div v-if="success" class="alert alert-success col-12" role="alert">
                    <i class="zmdi zmdi-check-circle"></i>
                    <span class="content">Enregistrement effectuer<br>Cliquez <a href="/download/setup.exe">ici</a> pour lancer le téléchargement</span>
                  </div>
                </div>
              </div>
          </div>
          </div>
          <div class="col-lg-4 my-auto">
            <br>
            <img class="d-none d-lg-block mx-auto img-fluid" src="img/download-bull.png" height="300">
         </div>
         <div class="col-12">
            <br>
            <br>
            <span class="text-center text-white">Vous avez déjà un compte ?</span>
            <div class="form-group text-center">
                    <a href="/download/setup.exe"><button class="btn btn-secondary btn-lg" ><span class="text-white">Télécharger l'application</span> </button></a>
            </div>
        </div>
        </div>
      
        
        <br>
      </div>
      <!--/ .container -->
    </div>
    <!--/ #headerwrap -->
    
  </section>
 
  <%- include ('components/download-assistance'); -%>   
  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Codaris</strong>. Tous droits reservés
      </p>
    </div>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>

<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
 var add=  new Vue({
          el: '#register',
          data: {
              success: false ,
              error:"",
              nom :"",
              prenom:"",
              email: '',
              contact : "",
              school : "",
              password: '',
              confirm:'',
              nber_days :7,
              nber_pc : 1
          },
        
        methods : {
              mailValidation: function(mail){
                          
                  if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
                  {
                    return true;
                  }
                    return false;

              },
              cls : function(){
                  console.log('cls');
                  return this.confirm === this.password ? "" : "is-invalid";
              },
              add: function(){
                  var vm = this;
                  vm.success=false;
                  vm.error=false;
                 if(!this.cls() && vm.nber_days && vm.confirm && vm.mailValidation(vm.email) && vm.password && vm.password.length>=6 && vm.contact && vm.nom && vm.prenom && vm.school && vm.nber_pc){
                      axios.post('/api/user',{
                          nom : this.nom,
                          prenom : this.prenom,
                          email : this.email,
                          etab : this.school,
                          contact : this.contact,
                          number_pc : this.nber_pc,
                          valid_for : this.nber_days,
                          password : this.password

                      })
                      .then(function (response) {
                          vm.success= true;
                          vm.error= "";
                      })
                      .catch(function (error){
                          vm.error = error.response.data;
                          vm.success = false;
                      })
                  }else{
                      if(!vm.mailValidation(vm.email) && vm.email){
                          vm.error = "Entrez un mail valide bullapp@example.com";
                      }
                      else if(vm.password && vm.confirm && vm.mailValidation(vm.email)){
                          if(vm.password.length<6){
                              vm.error="Le mot de passe doit contenir au moins 6 caractères";
                          }else if(vm.password != vm.confirm){
                              vm.error = "Les mots de passe ne sont pas identique";
                          }else{
                          vm.error= "Veuillez remplir tout les champs";
                          }
                      }
                      else{
                          vm.error= "Veuillez remplir tout les champs";
                      }
                     
                  }
                
              }
          }
      });
  </script>
  <!-- Template Main Javascript File -->
  <script src="js/main-lding.js"></script>

</body>
</html>
