<%- include ('layout/header-landing'); -%> 
<section id="home" name="home">
    <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-12">
            <div id="titre">Bienvenu.e sur <b>BullApp</b></div>
            <h4>Générez vos Bulletins et feuilles statistiques en un seul clique.</h4>
            <br>
          </div>

          <div class="col-lg-2">
            <h5>Découvrez un outil rapide,perfomant et robuste</h5>
            <p>Cliquez sur la générations de tout les bulletins d'une classe.</p>
            <img class="d-none d-lg-block mx-auto img-fluid" src="img/arrow1.png">
          </div>
          <div class="col-lg-8">
            <img class="img-fluid" src="img/bullbg.png" alt="">
          </div>
          <div class="col-lg-2">
            <br>
            <img class="d-none d-lg-block mx-auto img-fluid" src="img/arrow2.png">
            <h5>Prévisualisez vos Bulletins avant impression</h5>
            <p>Dotez d'un système de prévisualisation vous pouvez voir un aperçu et selectionnez vous même l'imprimante .</p>
          </div>
        </div>
      </div>
      <!--/ .container -->
    </div>
    <!--/ #headerwrap -->
  </section>
<%- include ('components/desc-landing'); -%> 
<%- include ('components/capture-landing'); -%> 
<%- include ('layout/footer-landing'); -%> 

