<section id="contact" name="contact">
    <div id="footerwrap">
      <div class="container">
        <div class="col-lg-5">
          <h3>Codaris</h3>
          <p>
            Mbaya,<br/> Franceville,<br/>GABON
          </p>
          <p>
              Tél,<br/>
            (+241) 074 713 473 - 066 413 160 - 066 915 615
          </p>
        </div>

        <div class="col-lg-7">
          <h3>Conctatez-nous</h3>

          <br>
          <form class="contact-form php-mail-form" role="form" method="POST">

            <div class="form-group">
              <label for="contact-name">Votre Nom</label>
              <input type="name" name="name" class="form-control" id="contact-name" v-model="name" placeholder="Entrez votre nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label for="contact-email">Votre Email</label>
              <input type="email" name="email" class="form-control" id="contact-email" v-model="to" placeholder="Entrez votre email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label for="contact-subject">Sujet</label>
              <input type="text" name="subject" class="form-control" id="contact-subject" v-model="subject" placeholder="Le Sujet" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
              <div class="validate"></div>
            </div>

            <div class="form-group">
              <label for="contact-message">Votre Message</label>
              <textarea class="form-control" name="message" id="contact-message" v-model="message" placeholder="Votre Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
              <div class="validate"></div>
            </div>

            <div class="loading"></div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>

            <div class="form-send">
              <button type="submit" class="btn btn-large" v-on:click="send">Envoyez le Message</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </section>
  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Codaris</strong>. Tous droits reservés
      </p>
    </div>
  </div>
  <script type="module">
    let app = new Vue({
      data : {
        to : "",
        name: "",
        subject:"",
        message : ""
      },
      methods : {
        send : ()=>{
          vm= this;
          axios.post("/mail",{
            to = vm.to,
            name = vm.name,
            subject = vm.subject,
            message = vm.message
          })
          .then((response)=>{
            console.log("email send");
          })
          .catch((error)=>{
            console.log("error");
          })
        }
      }

    });
  </script>
  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/php-mail-form/validate.js"></script>
  <script src="lib/easing/easing.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main-lding.js"></script>

</body>
</html>