<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Bull-app</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/logo-simple.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">


</head>

<body data-spy="scroll" data-offset="0" data-target="#navigation" style="  padding-top: 50px">

  <!-- Fixed navbar -->
  <div id="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header m-4">
        <a  class="smothscroll text-success" href="#home">
          <img class="navbar-brand-x2 " src="img/logo-simple.png" height="50" width="50"/>
          <b class="text-success">BullApp  </b>
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav mr-5">
          <li></li>
          <li class="active"><a href="#home" class="smothscroll">Acceuil</a></li>
          <li><a href="#desc" class="smothscroll">Description</a></li>
          <li><a href="#showcase" class="smothscroll">Captures</a></li>
          <li><a href="#contact" class="smothscroll">Contact</a></li>
          <li><a href="/documentation" >Documentation</a></li>
          <li><a href="#" >Téléchargement</a></li>


        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>