<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Bull-app</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/logo.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min2.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">


</head>

<body  data-spy="scroll" data-offset="0" data-target="#navigation" style=" padding-top: 50px">

  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top">
    <div class="nav-brand">
      <a  class="text-success m-2" href="/">
        <img class="navbar-brand " src="img/logo_nom.png"  width="115"/>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" >
          <a  class="nav-link smothscroll" href="#desc" >Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smothscroll" href="#showcase" >Captures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smothscroll" href="#contact" >Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/documentation" >Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/download">Téléchargement</a>
        </li>
      </ul>
    </div>
  </nav>