 <!-- HEADER DESKTOP-->
 <header class="header-desktop" >
    <div class="">
        <div class="container-fluid" >
            <div class="header-wrap d-flex justify-content-end">
                <div class="header-button d-flex justify-content-end">
                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="image">
                                <img src="/img/codaris.jpg" alt="John Doe" />
                            </div>
                            <div class="content">
                                <a class="js-acc-btn" href="#">Admin</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <img src="/img/codaris.jpg" alt="John Doe" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h5 class="name">
                                            <a href="#">Admin</a>
                                        </h5>
                                        <span class="email"><%=locals.admin.email%></span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="/gestion/comptes">
                                            <i class="zmdi zmdi-account"></i>Comptes</a>
                                    </div>                            
                                </div>
                                <div class="account-dropdown__footer">
                                    <a href="/gestion/logout">
                                        <i class="zmdi zmdi-power"></i>Déconnexion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>