 <!-- HEADER MOBILE-->
 <header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="/">
                    <img src="/img/logo-nom.png" alt="CoolAdmin" height="50" width="50" />
                </a>
                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li >
                    <a class="js-arrow" href="/gestion">
                        <i class="fas fa-tachometer-alt"></i>Tableau de bord</a>
                </li>
                <li>
                    <a href="/gestion/keyGenerator">
                        <i class="fas fa-key"></i>Générateur de clé</a>
                </li>
                 <li>
                    <a href="/gestion/adminUsers" disabled>
                        <i class="fas fa-users"></i>Gestion des Utilisateurs</a>
                </li>
                <li>
                    <a href="/gestion/comptes">
                        <i class="fas fa-user"></i>Comptes</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->


<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo text-white">
        <a href="#">
            <img src="/img/logo-simple.png" alt="Cool Admin" height="50" width="50"/>
        </a>
        BullApp
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li >
                    <a class="js-arrow" href="/gestion">
                        <i class="fas fa-tachometer-alt"></i>Tableau de bord</a>
                </li>
                <li>
                    <a href="/gestion/keyGenerator">
                        <i class="fas fa-key"></i>Générateur de clé</a>
                </li>
                <li>
                    <a href="/gestion/adminUsers" disabled>
                        <i class="fas fa-users"></i>Gestion des Utilisateurs</a>
                </li>
                <li>
                    <a href="/gestion/comptes">
                        <i class="fas fa-user"></i>Comptes</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->